//
//  HumanityFirst-release.xcconfig
//  Runner
//
//  Created by Ajil on 7/26/19.
//  Copyright © 2019 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_humanity_first.dart
bundle_identifier = com.sevaexchange.humanityfirst
app_name = Humanity First
